<div class="row">
   <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
         <%= image_tag("logoarivi.png", :alt => "അറിവിടം") %>
      </div>
      <div class="caption">
         <h3>Thumbnail label</h3>
         <p>Some sample text. Some sample text.</p>
         <p>
            <a href="#" class="btn btn-primary" role="button">
               Read more
            </a> 
         </p>
      </div>
   </div>


 <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
         <%= image_tag("logoarivi.png", :alt => "അറിവിടം") %>
      </div>
      <div class="caption">
         <h3>Thumbnail label</h3>
         <p>Some sample text. Some sample text.</p>
         <p>
            <a href="#" class="btn btn-primary" role="button">
               Read more
            </a> 
         </p>
      </div>
   </div>

</div>
