html { font-size: 62.5%; }
body {
    font-family : Meera;
    font-size: 17px; 
    font-size: 1.7rem;
}
.wrapper > section, .wrapper > footer {
  padding: 20px;
}
.heading {
  background: #036CA5;
}
.main-links > li > a > img {
  padding: 10px;
}
.page-footer {
  background: #036CA5;
  color: #fff;
}
.page-footer li a, .page-footer li a:active,.page-footer li a:hover,.page-footer li a:focus  {
  color: #fff;
}
.page-footer .container > ul {
  margin: 20px 20px;
}
.arividam-description {
  padding:13px 0 0 20px;
  border-left: solid 1px #036CA5;
  font-size: 1.7rem;
}

/* navigation list */
.nav.nav-pills-1 > li > a:hover,
.nav.nav-pills-1 > li > a:focus {
  background: none;
  text-decoration: underline;
}
.nav-pills-1 > li {
  float: left;
}
.nav-pills-1 > li > a {
  color: #fff;
  border-radius: 4px;
}
.nav-pills-1 > li + li {
  margin-left: 2px;
}
.nav-pills-1 > li.active > a,
.nav-pills-1 > li.active > a:hover,
.nav-pills-1 > li.active > a:focus {
  text-decoration: underline;
}
@font-face {
    font-family: 'Meera';
    src: url(/app/assets/fonts/Meera.eot);
    src: url(/app/assets/fonts/Meera.eot?#iefix) format('embedded-opentype'),
	local('Meera'),
         url(/app/assets/fonts/Meera.woff) format('woff'),
         url(/app/assets/fonts/Meera.ttf) format('truetype'),
         url(/app/assets/fonts/Meera.sfd#oswaldbook) format('svg');
    font-weight: normal;
    font-style: normal;
}

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }
